@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: -webkit-linear-gradient(top, transparent, rgb(var(--background-end-rgb))), rgb(var(--background-start-rgb)); /* For older Safari */
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))), rgb(var(--background-start-rgb));
}

/* Add custom styles below */

.highlighted-style {
  background-color: rgba(66, 153, 225, 0.5); /* semi-transparent blue background */
  border: 2px solid rgba(66, 153, 225, 1); /* solid blue border */
  padding: 0.5rem;
  -webkit-border-radius: 0.25rem; /* For older Safari */
  border-radius: 0.25rem;
}

.regular-style {
  background-color: rgba(233, 236, 239, 0.5); /* light gray background */
  padding: 0.5rem;
  -webkit-border-radius: 0.25rem; /* For older Safari */
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease; /* For older Safari, Chrome, and iOS Safari */
  transition: background-color 0.3s ease; /* smooth transition effect */

  /* Optional: change background color on hover */
  &:hover {
    background-color: rgba(226, 232, 240, 0.7);
  }
}

.object-cover {
  object-fit: cover;
}

