
.env
node_modules
.turbo
.DS_Store
_dev
.vercel
__dev
.vercel
.vscode/

.vercel
.next

bun.lockb

gcp-serv-acct-key.json

tsconfig.tsbuildinfo

# Taskfile binary (should be installed per-environment)
bin/task
