@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 288 82% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --scrollbar1: #0f121f4f;
    --scrollbar2: rgba(0, 0, 0, 0);
    --scrollbar-track: rgba(0, 0, 0, 0);
    --scrollbar-thumb: #0f121f4f;
    --scrollbar-thumb-hover: #0f121f;
    --scrollbar-thumb-border: rgba(0, 0, 0, 0);

    --link: 208, 100%, 60%;
    --mirage: 217, 33%, 17%;
    --iron: 240, 6%, 90%;

    --tertiary: 288, 82%, 50%;
    --tertiary-foreground: 0 0% 98%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 108 70% 66%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --scrollbar1: #4d5ca04f;
    --scrollbar2: rgba(80, 80, 80, 0);
    --scrollbar-track: rgba(199, 199, 199, 0);
    --scrollbar-thumb: #c4cfff4f;
    --scrollbar-thumb-hover: #2f46aa;
    --scrollbar-thumb-border: rgba(107, 107, 107, 0);

    --link: 208, 100%, 60%;
    --mirage: 217, 33%, 17%;
    --iron: 240, 6%, 90%;

    --tertiary: 120, 100%, 65%;
    --tertiary-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollbar::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-corner {
  background: var(--scrollbar-track) !important;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 2px;
}
/* .scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
} */

@media screen and (min-width: 1024px) {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.scrollbar.small-thumb::-webkit-scrollbar-thumb {
  border-left: 300px solid #f9f9fa;
  border-right: 300px solid #f9f9fa;
}

.dark .scrollbar.small-thumb::-webkit-scrollbar-thumb {
  border-left: 300px solid #18181b;
  border-right: 300px solid #18181b;
}

.truncate-title {
  display: block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}

.no-truncate {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

.border-gradient {
  position: relative;
  border-radius: 14px; /* Ensuring border-radius is applied */
  background: transparent;
  cursor: pointer;
  border: double 6px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(
      180deg,
      rgba(113, 113, 122, 0.1) 0%,
      rgba(113, 113, 122, 0.5) 50%,
      rgba(113, 113, 122, 0.564706) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
}

.dark .border-gradient {
  background-image:
    linear-gradient(rgb(47, 45, 45), rgb(46, 44, 44)),
    /* Inner background */
      linear-gradient(
        180deg,
        rgba(9, 9, 11, 0.1),
        rgba(9, 9, 11, 0.5),
        rgba(9, 9, 11, 0.8)
      );
}

.border-gradient:hover,
.border-gradient.selected {
  padding: 5px;
  border: 0px solid;
  border-image: transparent;
}

.border-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 14px; /* Ensuring border-radius is applied */
  padding: 1px;
  background: conic-gradient(
    from var(--bg-angle),
    rgba(190, 23, 232, 0.15) 10%,
    rgba(190, 23, 232, 0.5) 42.333%,
    rgba(187, 6, 232, 1) 66.666%,
    rgba(190, 23, 232, 0.15) 100%
  );
  animation: spin 3.5s infinite linear;
  z-index: 1;
  display: none;
}

.dark .border-gradient::before {
  border-radius: 14px; /* Ensuring border-radius is applied */
  background: conic-gradient(
    from var(--bg-angle),
    rgba(131, 229, 106, 0.15) 10%,
    rgba(131, 229, 106, 0.5) 42.333%,
    rgba(131, 229, 106, 1) 66.666%,
    rgba(131, 229, 106, 0.15) 100%
  );
}

.border-gradient:hover::before {
  display: block;
  animation-play-state: running;
}

.border-gradient.selected::before {
  display: block;
  animation-play-state: running;
}

.inner-content {
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.layout-footer {
  width: 100%;
  animation: animate-in 300ms ease-in-out;
  position: relative;
  padding: 1.5rem 2rem;
  text-align: center;

  @media (min-width: 1024px) {
    width: calc(100% - 250px);
    margin-left: 250px;
  }

  @media (min-width: 1280px) {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
}
/* // black when it's dark mode and white when it's light mode  */
.p-FieldLabel.Label {
  color: green !important;
}

.Tab,
.Label,
.input {
  display: none;
}

.lucide {
  stroke-width: 1px;
}
