@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --scrollbar1: #0f121f4f;
    --scrollbar2: rgba(0, 0, 0, 0);
    --scrollbar-track: rgba(0, 0, 0, 0);
    --scrollbar-thumb: #0f121f4f;
    --scrollbar-thumb-hover: #0f121f;
    --scrollbar-thumb-border: rgba(0, 0, 0, 0);

    --link: 208, 100%, 60%;
    --mirage: 217, 33%, 17%;
    --iron: 240, 6%, 90%;

    --mb-gradient: linear-gradient(
      21deg,
      rgba(16, 171, 255, 0.7),
      rgba(27, 234, 189, 0.6)
    );
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;

    --scrollbar1: #4d5ca04f;
    --scrollbar2: rgba(80, 80, 80, 0);
    --scrollbar-track: rgba(199, 199, 199, 0);
    --scrollbar-thumb: #c4cfff4f;
    --scrollbar-thumb-hover: #2f46aa;
    --scrollbar-thumb-border: rgba(107, 107, 107, 0);

    --link: 208, 100%, 60%;
    --mirage: 217, 33%, 17%;
    --iron: 240, 6%, 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollbar::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-corner {
  background: var(--scrollbar-track);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 2px;
}

.scrollbar.small-thumb::-webkit-scrollbar-thumb {
  border-left: 300px solid #f9f9fa;
  border-right: 300px solid #f9f9fa;
}

.dark .scrollbar.small-thumb::-webkit-scrollbar-thumb {
  border-left: 300px solid #18181b;
  border-right: 300px solid #18181b;
}

.truncate-title {
  display: block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}

.no-truncate {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.hide-buttons > button {
  display: none;
}

* {
  outline: none;
}

/* Reset */
:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Input specific styles */
.gradient-input {
  position: relative; /* Set to relative for proper positioning of child elements */
  background: var(--mb-gradient);
  padding: 2px; /* Padding around the input for border effect */
  display: inline-block; /* Default display to inline for inline fields */
  border-radius: 9999em; /* Circular border radius */

  > input {
    border-radius: inherit;
  }
}
